.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
    transform: translate(-50%, -25%) scale(1);
  }

  .icon-name {
    transform: translateY(-955%);
  }

  .icon-tel-form {
    transform: translateY(-560%);
  }

  .icon-email-form {
    transform: translateY(-185%);
  }

  .consent {
    font-size: 12px;
    line-height: 1.17;
  }

  .text-form::before {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
    transform: translate(-50%, -4.5%) scale(1);
  }

  .icon-name {
    transform: translateY(-955%);
  }

  .icon-tel-form {
    transform: translateY(-560%);
  }

  .icon-email-form {
    transform: translateY(-185%);
  }

  .consent {
    font-size: 12px;
    line-height: 1.17;
  }

  .text-form::before {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    transform: translate(-50%, -15%) scale(1);
  }

  .icon-name {
    transform: translateY(-1010%);
  }

  .icon-tel-form {
    transform: translateY(-620%);
  }

  .icon-email-form {
    transform: translateY(-250%);
  }

  .consent {
    font-size: 14px;
    line-height: 1.71;
  }

  .text-form::before {
    font-size: 14px;
  }
}

.form-input {
  outline: none;
}

.form-input:focus-within {
  border: 1px solid $accent-color;
  outline: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-form {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: $title-text-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.form-label {
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  text-align: left;
  top: 0;
  left: 0;
  transition: transform 250ms linear;
}

.form-input {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 2px;
  padding: 11px 42px 11px;
  border-radius: 4px;
  background-color: rgb(170, 83, 83), rgb(59, 59, 59);
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-name {
  position: absolute;
  top: 50%;
  left: 55px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-tel-form {
  position: absolute;
  top: 50%;
  left: 55px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-email-form {
  position: absolute;
  top: 50%;
  left: 55px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.form-name:focus-within,
.form-tel:focus-within,
.form-email:focus-within {
  color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.document {
  display: block;
  text-align: center;
}

.checkbox {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.consent {
  display: inline-block;
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  text-decoration: none;
}

.text-form::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  margin-top: 20px;
  line-height: 1.17;
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contract {
  display: inline-block;
  text-align: center;
  justify-content: center;
  color: $accent-color;
  text-decoration-line: underline;
}

.checkbox:checked + .text-form::before {
  background-color: $accent-color;
  background-origin: border-box;
  background-image: url(../images/iconcheck.svg);
}

.button-form {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  width: 200px;
  padding: 10px 28px;
  margin: auto;
  color: $white-color;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-close:hover,
.icon-close:focus {
  fill: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
