.container {
  font-family: "Roboto", sans-serif;
  min-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  // justify-content: space-between;
  // overflow: hidden;
  outline: 1px solid red;
}

// Mobale

@media screen and (min-widht: 480px) {
  .container {
    width: 480px;
  }
}

// Tablet

@media screen and (min-widht: 768px) {
  .container {
    width: 768px;
    justify-content: space-between;
  }
}

// Desctop

@media screen and (min-widht: 1200px) {
  .container {
    width: 1200px;
    justify-content: space-between;
  }
}
