.container {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1px solid red;
}

// Mobale

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

// Tablet

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// Desctop

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
