/* Цвет основного текста #757575; */
/* Вторичный цвет текста #212121; */
/* Белый #FFFFFF; */
/* Акцент #2196F3; */
/* Контакты в подвале 255,255,255,0,6; */
/* Цвет фона #FFFFFF */
/* Цвет фона команды #F5F4FA; */
/* Цвет фона подвала #2F303A */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #fff;
$primary-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$black-color: #000000;
$button-color: #f5f4fa;
